@import 'predefined_variables';
@import 'index';
.case_show{
	width:$width;
	/* @include backgroundColor(#F2F2F2); */
	ul{
		width:$main_width;
		display:$flex;
		margin:{
			top:20px;
			right:auto;
			bottom:20px;
			left:auto;
		}
		@include position(relative);
		/* @include overFlow; */
		li{
			@include backgroundColor(#ffffff);
			@include flex1;
			@include position(relative);
			border:1px solid #efefef;
			@extend %borderRadius;
			cursor:pointer;
			margin:{
				left:10px;
				top:10px;
				bottom:10px;
				right:10px;
			}
			list-style:none;
			@extend %backgroundSizeCover;
			box-shadow:0px 5px 5px rgba(0,0,0,0.2);
			img{
				@include wid(100%);
				@include height(100%);
				display:block;
			}
			border:2px solid #efefef;
			a{
				@include position(absolute);
				@include wid(100%);
				@include lineHeight(40px);
				@include textPosition(center);
				@extend %textDerection;
				color:#005888;
			}
		}
		li:before{
				content:' ';
				@include position(absolute);
				@include wid(92%);
				@include height(42%);
				@include top(48%);
				@include bottom(0px);
				@include left(14px);
				z-index:-1;
				/* @extend %trans_rotate_left; */
				@extend %trans_skew_left;
				background:transparent;
				box-shadow:1px 12px 8px rgba(0,0,0,0.4);
			}
		li:after{
				content:' ';
				@include position(absolute);
				@include wid(92%);
				@include height(42%);
				@include top(48%);
				@include bottom(0px);
				@include right(14px);
				z-index:-1;
				/* @extend %trans_rotate_left; */
				@extend %trans_skew_right;
				background:transparent;
				box-shadow:1px 12px 8px rgba(0,0,0,0.4);
			}
		li:nth-of-type(1){
			margin:{
				left:0;
			}
		}
	}
	ul:last-child{
		margin:{
			bottom:60px;
		}
	}
}